@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    background-color: #030303;
    overflow-y: scroll;
}

.slider::-webkit-scrollbar {
    display: none;
}

.up {
    animation: up 0.5s;
}

.animate-opacity {
    animation: animate-opacity 0.5s;
}

@keyframes up {
    from {top: -100%}
    to {top: 28px}
}

@keyframes animate-opacity {
    from {opacity: 0}
    to {opacity: 1}
}
